
article {
    position: relative;
    text-align: center;
    margin: 16px;
    border: 1px solid #20ACE9;
    border-radius: 8px;

}

article p {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: unset;

}

article h1, h2 {
    font-size: 1em;
}

.card h2 {
    display: flex;
justify-content: flex-end;
    max-width: 266px;
}

article h3, h4 {
    font-size: 1em;

}

article .weather-detail{
text-align: right;
    margin: 5px 10px 0 0;
}

article p span {
    font-size: 18px;
    margin: 1px;
}

article .small-text {
    margin: 0;
    font-size: 12px;
}

article a {
    color: var(--bordertile);
}


.tag {
    position: absolute;
    top: 0;
    left: 0;
    color: #20ACE9;
    font-size: 12px;
    padding: 4px;
}

article .pictures {
    /*background-color: gold;*/
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.small-picture-span {

    height: 100px;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 1;
    /*background-color: gold;*/
    padding: 16px;
}

.small-picture-img {
    width: 100%;
    border-radius: 8px;
}

.mid-picture-span {
    height: 120px;
    flex-basis: 120px;
    flex-grow: 0;
    flex-shrink: 1;
    /*padding: 16px;*/
}