a {
    color: white;
    text-decoration: none;
}

.top-nav-menu button {
    border: none;
    height: 64px;
    border-radius: 0;
    line-height: 30px;
    padding-left: 0;
}

.top-nav-menu ul {
    gap: 1px;
}
.top-nav-menu li {
    border-right: solid 1px whitesmoke;
    padding: 0 8px;
}

li:last-child {
    border: none;
}



button:hover {
    background-color: #BC4C2A;
    color: white;
    content: "search";
    transition: all .4s ease-in-out;
}