a {
    color: white;
    text-decoration: none;
}

.top-nav-menu button {
    border: none;
}

button:hover {
    background-color: #BC4C2A;
    color: white;
    content: "search";
    transition: all .4s ease-in-out;
}