.tile {
    flex-basis: 650px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-tile);
    border: 1px solid var(--bordertile);
    border-radius: 8px;
    margin: 10px 0;
}

div .compare-values {
    width: 100%;
    flex-basis: 16px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    font-size: 14px;
}

#input-city {
    background: var(--main-body);
    width: 100%;
    padding: 0 10px;
    margin: 10px 20px;
    height: 60px;
    border: solid 2px var(--bordertile);
    border-radius: 8px;
}

::placeholder {
    color: gray;
}


button {
    width: fit-content;

    padding: 8px 60px 8px 60px;
}

#temp-min, #temp-max, #wind-kmh, #rain-mm {
    width: 80px;
}


#added-text {

    right: 220px;
    font-size: 16px;
}