
.go-icon {
    /*position: absolute;*/
    stroke: white;
}

.header-button:disabled > .go-icon {
    stroke: none;
}

.tile, .tilefirst {
    flex-basis: 300px;
    flex-grow: 0.4;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-tile);
    border: 1px solid var(--bordertile);
    border-radius: 8px;
    padding-left: 2px;
}



.currentconditions, .forecast-line, .tiles {
    width: 100%;
    flex-basis: 16px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    font-size: 14px;
    margin: 0 10px;
}

.tiles, .forecast-line {
    flex-wrap: wrap;
    margin: 0;
    gap: 2px;
}

.row-wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.forecast-line {

    margin: 8px 0;
}

.item, .blank {
    max-width: 100px;
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    gap: 2px;
    justify-content: center;
    padding: 0 5px;
}

.blank {
    flex-basis: 30px;
    padding: 0
}

.forecast-item {
    display: flex;
    min-width: 60px;
}

.precipitation {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    font-size: 14px;
}


.forecast-header {
    width: 100%;
    display: flex;
    flex-direction: row;

    background-color: white;
    gap: 5px;
    padding: 0 10px;
    font-size: 12px;
}

.forecast-sub-header, .forecast-sub-line {
    display: flex;
    gap: 15px;
    padding: 0 0 0 50px;
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 1;
}

.forecast-sub-header {
    font-size: 12px;

}

h5 {
    font-size: 16px;
}

h3, h4 {
    font-weight: 400;

}

.small-text {
    font-size: 12px;
}

.pictures {
    flex-basis: 38px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.small-span {
    height: 30px;
    flex-basis: 38px;
    flex-grow: 0;
    flex-shrink: 1;
    /*background-color: gold;*/
    padding: 1px;
}

.small-picture-img {
    width: 100%;
}

svg {
    max-width: 75px;
    min-width: 38px;
    max-height: 45px;
}