@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto&family=Rock+Salt&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {

}

p {
    font-family: Poppins, Arial, sans-serif;
    margin: 16px 0;
}

h1 {
    font-family: 'Rock Salt', Georgia, serif;
    font-weight: 400;
}

h2, h3, h4 {
    font-family: 'Merriweather', Georgia, serif;
}

h4 {
    font-size: 18px;
}

img {
    width: 100%;
    margin-left: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 48px;
}

svg {
    width: 32;
    height: 33;
}